.homecontainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(0deg,rgba(255,0,150,0.3),rgba(255,0,150,0.3)),url('../images/bgimage.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
