.App {
  text-align: center;
}

.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.homecontainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 1180px;
  width: 100%;

  background: url('./images/overlook.PNG');

  background-position: center;
}

.spraycontainer {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: url('./images/clouds.PNG');
  
  background-position: center;


}


